# Dependencies
server/node_modules/
server/data
server/out
server/.env

contracts/lib
contracts/out

bot/node_modules/
bot/.env
# Build output
out/
dist/

# Data
data/

# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
